{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}
{% block page_header %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="bg-white p-4 p-md-5 rounded-4 shadow-sm">

                <h2 class="logo-font mb-3 text-center">{% trans "Change Password" %}</h2>
                <hr>

                <form method="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <a href="{% url 'profile' %}" class="continue-shopping-btn px-4">
                        <i class="fas fa-angle-left"></i>
                        Back to Profile
                    </a>
                        <button type="submit" class="allauth-btns allauth-btns--outline">
                            {% trans "Change Password" %}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
