{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Thank you for contacting Munch Crunch Pantry. We have received your message and will get back to you shortly." />
    <meta name="keywords" content="Contact Munch Crunch Pantry, Message Sent, Customer Support, Wholefoods Store, Organic Nuts, Sustainable Food" />
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/info_pages-min.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

            <div class="contact-success-card p-4">
                <div class="contact-success-icon mb-3">
                    <i class="fa-regular fa-circle-check"></i>
                </div>

                <h1 class="h4 mb-3">Message sent</h1>
                <p class="mb-4">
                    Thanks for getting in touch with Munch Crunch Pantry.
                    We’ve received your message and will reply by email as soon as we can.
                </p>

                <div class="nav-btns-row mt-4 text-center">
                    <a href="{% url 'home' %}" class="nav-btns">
                        <i class="fa-solid fa-angle-left"></i>
                        Back to homepage
                    </a>
                    <a href="{% url 'products' %}" class="nav-btns">
                        <i class="fa-solid fa-globe"></i>
                        Browse products
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}