/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Montserrat Alternates', sans-serif;
    --color-1: #1a3f3a;
    --color-2: #5c4026;
    --color-3: #2e2e2e;
    --color-4: #3c4a3e;
    --color-5: #8a5a3b;
    --color-6: #ff9f47;
    --color-7: #ffe673;
    --color-8: #1e9ba3;
    --color-9: #ffffff;
    --color-10:#275941;
    --color-11: #E6F4F1;
}

html {
    height: 100%;
}

header {
    background-color: var(--color-11);
}

body {
    background-color: var(--color-9);
    font-family: var(--primary-font);
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.site-footer {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

#products-home-btn {
    color: var(--color-8);
    text-decoration: none;
}

#products-home-btn:hover {
    text-decoration: underline;
    color: var(--color-10);
}

.sort-dropdown {
    border: 1px solid var(--color-8);
}

/* Back to Top button */
.back-to-top {
    position: fixed;
    bottom: 15rem;
    right: 2rem;
    z-index: 900;
    background: var(--color-1);
    color: var(--color-9);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

/* Hover effect */
.back-to-top:hover {
    background: var(--color-10);
    transform: translateY(-3px);
}

/* Show the button */
.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* from Bulma - font awesome icon styling */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-icon {
    color: var(--color-8);
}


/* Navbar styling */
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.menu-font-style {
    color: var(--color-10);
}

.dropdown-border {
    border: 2px solid var(--color-6);
}

.dropdown-item:hover {
    background-color: var(--color-11);
    color: var(--color-1);
}

.shop-now-button {
    font-family: var(--secondary-font);
    background-color: var(--color-8);
    color: var(--color-9);
    min-width: 260px;;
}

.search-btn-style {
    background-color: var(--color-8);
    color: var(--color-9);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.search-btn-style:hover,
.search-btn-style:active,
.search-btn-style:focus {
    background-color: var(--color-9);
    color: var(--color-8);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.border-black {
    border: 3px solid var(--color-1);
}

.remove-arrow::after {
    display: none;
}

.mobile-nav-style {
    background-color: var(--color-11);
}

.nav-bg {
    background-color: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
}

#topnav {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.mobile-search-modal-content {
    background: var(--color-11);
}

#mobileSearchModal .modal-body {
    min-height: 100vh;
}

/* Nav banner styling */
.banner-style {
    background-color: var(--color-7);
    color: var(--color-1);
}

.scroll-banner {
    overflow: hidden;
    white-space: nowrap;
    background: var(--color-7);
    color: var(--color-1);
    position: relative;
}

.scroll-content {
    display: inline-flex;
    gap: 8rem;
    animation: scroll-right 30s linear infinite;
}

.scroll-banner:hover .scroll-content {
    animation-play-state: paused;
}

.scroll-content span {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

@keyframes scroll-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Newsletter Footer */
#newsletter-banner {
    opacity: 1;
    transition: opacity 0.6s ease;
    background-color: #fff9e8;
}

#newsletter-banner p {
    white-space: nowrap;
}

#newsletter-banner.fade-out {
    opacity: 0;
}

#subscribe-btn {
    background-color: var(--color-8);
    color: var(--color-9);
    border: none;
    border-radius: 0.375rem;
}

#subscribe-btn:hover {
    background-color: var(--color-9);
    color: var(--color-8);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#newsletter-email::placeholder {
    text-align: center;
}

/* Footer */

footer {
    background-color: var(--color-11);
    padding: 1rem 0;
}

.social-icons-container {
    margin-left: 30px;
    margin-block: auto;
}

a.social-icon {
    padding: 10px;
    text-decoration: none;
    transition: transform 0.2s ease;
}

a.social-icon:hover {
    color: var(--color-10);
    transform: scale(1.25);
}

.footer-font {
    font-size: small;
    color: var(--color-2)
}

.footer-font a {
    color: var(--color-2);
    text-decoration: none;
}

.footer-font p {
    margin: 0;
}

/* Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 46px;
    right: 6px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media Queries */

/* media query: larger screens (992+) */
@media (min-width: 992px) {

    main {
        padding-top: 268px;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    body {
        position: relative;
        padding-bottom: 100px;
    }

    .message-container {
        top: 108px;
    }
}

/* Media query: tablets & mobile (768)  */
@media (max-width: 991px) {

    main {
        padding-top: 72px;
    }

    body {
        height: calc(100vh - 116px);
    }

    #newsletter-banner {
        padding: 4px 0;
    }

    #newsletter-banner p {
        font-size: small;
        margin-bottom: 4px;
        white-space: normal;
    }

    #newsletter-email {
        height: 36px;
        font-size: small;
    }

    #newsletter-form .btn,
    #newsletter-form .button {
        height: 36px;
        font-size: small;
        padding: 0 12px;
        white-space: nowrap;
    }

    .input-group {
        max-width: 90%;
        margin: 0 auto;
    }

    .back-to-top {
        bottom: 4rem;
        right: 1.5rem;
    }
}

/* Media query: phones (425 and down) */
@media (max-width: 426px) {
    
}
