/* Product quantity/price selection */
.size-card {
    background-color: var(--color-8);
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.15s ease;
    padding: 0.5rem;
    min-width: 130px;
    min-height: 80px;
    text-align: center;
}

.size-card.selectable:hover {
    background-color: var(--color-4);
    cursor: pointer;
}

.size-card.selected {
    background-color: var(--color-4);
    border: 3px solid var(--color-6);
}

.disabled-card {
    background-color: #d3d3d3;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

/* Dropdown info points  */
.dropdown-toggle-section {
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--color-3);
}

.dropdown-toggle-section:hover {
    color: var(--color-1);
}

.chevron-icon {
    transition: transform 0.3s ease;
    color: var(--color-6);
}

.chevron-rotate {
    transform: rotate(180deg);
}

/* Nutrition table styling */
#nutrition-table {
    margin-bottom: 1rem;
    width: 70%;
    margin-left: auto;
}

#nutrition-table tr {
    border-bottom: 1px solid var(--color-2);
}

#nutrition-table tr:last-child {
    border-bottom: none;
}

#nutrition-table td {
    padding: 0.4rem 0;
}

/* Keep shopping button */
.keep-shopping-btn {
    color: var(--color-5);
    text-decoration: none;
    font-weight: 600;
}

.keep-shopping-btn:hover {
    color: var(--color-2);
    text-decoration: underline;
    transition: 0.2s ease, transform 0.15s ease;
}

/* Add to basket button */
.add-to-basket-btn {
    background-color: var(--color-6);
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.15s ease;
    padding: 0.5rem;
    min-width: 130px;
    min-height: 80px;
    text-align: center;
}

.add-to-basket-btn:hover {
    background-color: var(--color-7);
    color: var(--color-10);
    cursor: pointer;
    border: 3px solid var(--color-6);
}

/* smaller screens */
@media (max-width: 992px) {
    .size-card, 
    .add-to-basket-btn {
        min-width: 100px;
        min-height: 70px;
    }

    .size-card span, 
    .add-to-basket-btn {
        font-size: 0.85rem;
    }

    #nutrition-table {
        width: 50%;
    }
}

/* larger screens */
@media (min-width: 992px) {
    .size-card, 
    .add-to-basket-btn {
        min-width: 140px;
        min-height: 85px;
    }
}
