/* Product quantity/price selection */
.package-size-card {
    background-color: var(--color-8);
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.15s ease;
    padding: 0.5rem;
    min-width: 130px;
    min-height: 80px;
    text-align: center;
}

.package-size-card.selectable:hover {
    background-color: var(--color-4);
    cursor: pointer;
}

.package-size-card.selected {
    background-color: var(--color-4);
    border: 3px solid var(--color-7);
}

.disabled-card {
    background-color: #d3d3d3;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

/* Dropdown info points  */
.dropdown-toggle-section {
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--color-3);
}

.dropdown-toggle-section:hover {
    color: var(--color-1);
}

.chevron-icon {
    transition: transform 0.3s ease;
    color: var(--color-6);
}

.chevron-rotate {
    transform: rotate(180deg);
}

/* Nutrition table styling */
#nutrition-table {
    margin-bottom: 1rem;
    width: 70%;
    margin-left: auto;
}

#nutrition-table tr {
    border-bottom: 1px solid var(--color-2);
}

#nutrition-table tr:last-child {
    border-bottom: none;
}

#nutrition-table td {
    padding: 0.4rem 0;
}

/* Keep shopping button */
.keep-shopping-btn {
    color: var(--color-5);
    text-decoration: none;
    font-weight: 600;
}

.keep-shopping-btn:hover {
    color: var(--color-2);
    text-decoration: underline;
    transition: 0.2s ease, transform 0.15s ease;
}

/* Add to basket button */
.add-to-basket-btn {
    background-color: var(--color-6);
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.15s ease;
    padding: 0.5rem;
    min-width: 130px;
    min-height: 80px;
    text-align: center;
}

.add-to-basket-btn:hover {
    background-color: var(--color-7);
    color: var(--color-10);
    cursor: pointer;
    border: 3px solid var(--color-6);
}

.add-to-basket-btn.disabled-btn {
    cursor: not-allowed;
}

.btn-wrapper {
    position: relative;
    display: inline-block;
}

.btn-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-1);
    color: var(--color-9);
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 6px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.btn-wrapper::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--color-1) transparent;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.btn-wrapper[data-tooltip]:hover::after,
.btn-wrapper[data-tooltip]:hover::before {
    opacity: 1;
}

/* Quantity buttons */
.quantity-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.quantity-block .input-group-quantity {
    max-width: 150px;
}

.input-group-quantity {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.input-group-quantity .qty-btn-minus,
.input-group-quantity .qty-btn-plus {
    border-radius: 12px;
    border: none;
    padding-inline: 10px;
    font-weight: bold;
    background-color: var(--color-5);
    color: var(--color-9);
}

.input-group-quantity .qty-btn-minus,
.input-group-quantity .qty-btn-plus {
    cursor: pointer;
}

.input-group-quantity .qty-btn {
    flex: 0 0 auto;
}

/* Input between buttons */
.input-group-quantity .qty-input {
    max-width: 100px;
    text-align: center;
    border: 1px solid var(--color-2);
    box-shadow: none;
    flex: 1 1 auto;
    min-width: 0;
    font-weight: 600;
}

/* Remove number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* smaller screens */
@media (max-width: 992px) {
    .package-size-card, 
    .add-to-basket-btn {
        min-width: 100px;
        min-height: 70px;
    }

    .package-size-card span, 
    .add-to-basket-btn {
        font-size: 0.85rem;
    }

    #nutrition-table {
        width: 50%;
    }
}

/* larger screens */
@media (min-width: 992px) {
    .package-size-card, 
    .add-to-basket-btn {
        min-width: 140px;
        min-height: 85px;
    }
}
