{% load static %}

<footer class="container-fluid px-0 d-none d-lg-block">
    <div class="row g-0 d-lg-flex">
        <!-- Social Media Links -->
        <div class="col social-icons-container">
            <a class="social-icon" href="https://www.facebook.com/61583634615736" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)">
                <i class="fa-brands fa-facebook fa-2x logo-style nav-icon"></i>
            </a>
            <a class="social-icon" href="https://x.com/" target="_blank" rel="noopener" aria-label="Visit our X page (opens in a new tab)">
                <i class="fa-brands fa-square-x-twitter fa-2x logo-style nav-icon"></i>
            </a>
            <a class="social-icon" href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fa-brands fa-instagram fa-2x logo-style nav-icon"></i>
            </a>
        </div>
        <!-- Footer logo -->
        <div class="col text-center">
            <img src="{% static 'images/mcp-logo.webp' %}" width="90" alt="Munch Crunch Pantry Logo">
        </div>

        <!-- Quick links -->
        <div class="col text-end me-5">
            <div class="row footer-font">
                <div class="col">
                    <p><strong>Information</strong></p>
                    <a href="{% url 'faq' %}" aria-label="Link to FAQ page">FAQs</a>
                    <br>
                    <a href="{% url 'about' %}" aria-label="Link to About Us page">About us</a>
                    <br>
                    <a href="{% url 'origin_stories_index' %}" aria-label="Link to Origin Stories page">Origin Stories</a>
                </div>
                <div class="col">
                    <p><strong>Customer Services</strong></p>
                    <a href="{% url 'contact' %}" aria-label="Link to Contact Us page">Contact us</a>
                    <br>
                    <a href="{% url 'shipping' %}" aria-label="Link to Shipping page">Shipping</a>
                    <br>
                    <a href="{% url 'returns' %}" aria-label="Link to Returns page">Returns & Refunds</a>
                </div>
            </div>
        </div>
    </div>      
</footer>