<div id="info-banner" class="row text-center scroll-banner">
    <div class="col scroll-content banner-style d-flex justify-content-center">
        <span> 📦 Free delivery on orders over £{{ free_delivery_threshold }}! 📦</span>
        <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
        <span> 📦 Free delivery on orders over £{{ free_delivery_threshold }}! 📦</span>
        <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
        <span> 📦 Free delivery on orders over £{{ free_delivery_threshold }}! 📦</span>
        <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
        <span> 📦 Free delivery on orders over £{{ free_delivery_threshold }}! 📦</span>
        <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
    </div>
</div>