<div id="info-banner" class="scroll-banner banner-style text-center">
    <div class="scroll-viewport">
        <div class="scroll-content d-flex justify-content-center">
            <span> 📦 Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}! 📦</span>
            <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
            <span> 📦 Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}! 📦</span>
            <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
            <span> 📦 Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}! 📦</span>
            <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
            <span> 📦 Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}! 📦</span>
            <span>🎈 Use code WELCOME10 for 10% off your first order! 🎈</span>
        </div>
    </div>
</div>