<ul class="navbar-nav mx-auto w-100 justify-content-center bg-white py-2">
    <li class="nav-item dropdown">
        <a href="" class="logo-font fw-bold nav-link me-5 ms-2 dropdown-toggle" id="all-products-link"
            data-bs-toggle="dropdown" aria-expanded="false" role="button">
            All Products
        </a>
        <ul class="dropdown-menu dropdown-border" aria-labelledby="all-products-link">
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="{% url 'products' %}?sort=name&direction=asc">By A-Z</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="{% url 'products' %}">All Products</a></li>
            <hr class="dropdown-divider">
        </ul>
    </li>
    {% for category in nav_categories %}
    <li>
        <a class="nav-link logo-font fw-bold me-3" href="{% url 'products' %}?category={{ category.slug }}">
            {{ category.name|upper }}
        </a>
    </li>
    {% endfor %}
</ul>