<ul class="navbar-nav mx-auto w-100 justify-content-center bg-white py-2">
    <li class="nav-item dropdown">
        <a href="" class="logo-font fw-bold nav-link me-5 ms-2 dropdown-toggle" id="all-products-link"
            data-bs-toggle="dropdown" aria-expanded="false" role="button">
            All Products
        </a>
        <ul class="dropdown-menu dropdown-border" aria-labelledby="all-products-link">
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="">By Price</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="">By Rating</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item menu-font-style" href="">All Products</a></li>
            <hr class="dropdown-divider">
        </ul>
    </li>

    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Nuts</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Dried Fruit</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Seeds</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Oil</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Nut Butter</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Grains & Lentils</a></li>
    <li class="nav-item"><a href="" class="logo-font fw-bold nav-link me-5 ms-2">Herbs & Spices</a></li>
</ul>
