{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metatags for SEO -->
    <meta name="description"
        content="Munch Crunch Pantry offers healthy, organic snacks, nuts, seeds, and superfoods to fuel your lifestyle. Ethically sourced and packed with nutrition.">
    <meta name="keywords"
        content="organic nuts, organic seeds, wholefoods online, buy nuts online, buy seeds online, healthy snacks, superfoods, ethically sourced foods, natural pantry staples, organic wholefoods shop, premium nuts and seeds, tropical wholefoods, fairtrade nuts and seeds, raw nuts and seeds, vegan snacks, gluten-free snacks, clean-label foods, natural superfoods, healthy pantry essentials, buy organic nuts and seeds online UK, ethically sourced wholefoods delivered, healthy snacks for clean eating, premium organic pantry items, fresh nuts and seeds delivered, sustainable wholefood grocery store, organic superfoods for smoothies, munch crunch pantry, munchcrunch pantry, munch crunch nuts, munch crunch wholefoods, munchcrunch online shop">
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/79e37bf5f8.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <title>Munch Crunch Pantry {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top px-0">
        <div id="topnav" class="row d-none d-lg-flex">
            <!-- Logo/home button -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="/media/mcp-logo.webp" alt="Munch Crunch Pantry Logo" class="main-logo img-fluid w-75">
                </a>
            </div>
            <!-- Search Function -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="q"
                            placeholder="Search our site">
                        <button class="btn search-btn-style border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- Menu, My Account and Basket -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                    <!-- Menu -->
                    <li class="list-inline-item dropdown">
                        <a href="" class="nav-link dropdown-toggle p-0 remove-arrow" id="menu-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div>
                                    <i class="fa-solid fa-bars fa-lg nav-icon"></i>
                                </div>
                                <p class="my-0 nav-icon">Menu</p>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-border" aria-labelledby="menu-dropdown">
                            <a href="" class="dropdown-item fw-bold menu-font-style">About us</a>
                            <hr class="dropdown-divider">
                            <a href="" class="dropdown-item fw-bold menu-font-style">Product Origins</a>
                            <hr class="dropdown-divider">
                            <a href="" class="dropdown-item fw-bold menu-font-style">Contact Us</a>
                            <hr class="dropdown-divider">
                            <a href="" class="dropdown-item fw-bold menu-font-style">FAQs</a>
                            <hr class="dropdown-divider">
                            <a href="" class="dropdown-item fw-bold menu-font-style">Delivery & Returns</a>
                        </div>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="nav-link dropdown-toggle remove-arrow p-0" href="#" id="user-options" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div>
                                    <i class="fa-solid fa-user fa-lg nav-icon"></i>
                                </div>
                                <p class="my-0 nav-icon">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-border" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item fw-bold menu-font-style">Product Management</a>
                            <hr class="dropdown-divider">
                            {% endif %}
                            <a href="" class="dropdown-item fw-bold menu-font-style">My Profile</a>
                            <hr class="dropdown-divider">
                            <a href="{% url 'account_logout' %}"
                                class="dropdown-item fw-bold menu-font-style">Logout</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="dropdown-item fw-bold menu-font-style">Login</a>
                            <hr class="dropdown-divider">
                            <a href="{% url 'account_signup' %}"
                                class="dropdown-item fw-bold menu-font-style">Register</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Basket -->
                    <li class="list-inline-item me-3">
                        <a class="{% if grand_total %}text-info fw-bold{% else %}text-dark{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fa-solid fa-basket-shopping fa-lg nav-icon"></i></div>
                                <p class="my-0 nav-icon">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg w-100 mobile-nav-style p-0">
            <div class="container-fluid px-0">

                <!-- Smaller screen navbar -->
                <div class="w-100 d-flex d-lg-none">
                    {% include "includes/mobile-top-header.html" %}
                </div>

                <!-- Desktop navbar -->
                <div class="collapse navbar-collapse" id="main-nav">
                    {% include "includes/main-nav.html" %}
                </div>
            </div>
        </nav>
        {% include "includes/info-banner.html" %}
    </header>

    
    <!-- Page Content below the header/nav -->
    <main class="page-content">
        {% if messages %}
        <div class="message-container"></div>
        {% endif %}

        {% block page_header %}{% endblock %}

        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <div class="site-footer">
        {% block newsletter_banner %}
            {% include "includes/newsletter-banner.html" %}
        {% endblock %}

        {% include "includes/footer-desktop.html" %}
        {% include "includes/footer-mobile.html" %}
    </div>

    <!-- Mobile Fullscreen Search Modal -->
    <div class="modal fade" id="mobileSearchModal" tabindex="-1" aria-labelledby="mobileSearchLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content mobile-search-modal-content">
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <form method="GET" action="" class="w-100 px-4" id="mobile-search-form">
                        <div class="input-group">
                            <input type="text" class="form-control border border-black rounded-0" name="q" placeholder="Search our site">
                            <button class="btn search-btn-style border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block postloadjs %}{% endblock %}
</body>

</html>