{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ page_title|default:"Products" }} - Munch Crunch Pantry
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Explore our wide range of products at Munch Crunch Pantry. Find organic nuts, sustainable food options, and more. Shop now!" />
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_detail-min.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            {% if products %}
            {% if current_categories %}
            {% if current_categories|length == 1 %}
            <h1>{{ current_categories.0.name }} {% if search_term %} - containing "{{ search_term }}"{% endif %}</h1>
            {% else %}
            <h1>Products in{% for cat in current_categories %}{{ cat.name }}{% if not forloop.last %},
                {% endif %}{% endfor %}{% if search_term %} - containing "{{ search_term }}"{% endif %}</h1>
            {% endif %}
            {% else %}
            <h1>All Products {% if search_term %} - containing "{{ search_term }}"{% endif %}</h1>
            {% endif %}
            {% else %}
            <h1>{% for cat in current_categories %}
                {{ cat.name }}{% if not forloop.last %}, {% endif %}{% endfor %} {% if search_term %}
                containing "{{ search_term }}"{% endif %}</h1>
            {% endif %}
            <hr class="mb-1">
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1 ">
            <!-- Sort results number -->
            <div class="row mt-1 mb-2 align-items-center">
                <!-- Left text -->
                <div class="col-12 col-md-6 order-md-first">
                    <div class="products-header-inner">
                        <p class="text-muted mt-3 text-center text-md-start fw-bold">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span><a id="products-home-btn" href="{% url 'products' %}">Products Home</a> |
                            </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for
                            "{{ search_term }}"{% endif %}
                        </p>
                    </div>
                </div>

                <!-- Right sort dropdown -->
                <div
                    class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end mb-1">
                    <div class="products-header-inner d-flex justify-content-md-end">
                        <div class="sort-select-wrapper">
                            <select id="sort-selector"
                                class="form-select form-select-sm rounded-0 sort-dropdown fw-bold">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                                    By...</option>
                                <option value="price-asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                    Price: Low to High{% if current_sorting == 'price_asc' %} ▲{% endif %}</option>
                                <option value="price-desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                    Price: High to Low{% if current_sorting == 'price_desc' %} ▼{% endif %}</option>
                                <option value="name-asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name:
                                    A to Z{% if current_sorting == 'name_asc' %} ▲{% endif %}</option>
                                <option value="name-desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                    Name: Z to A{% if current_sorting == 'name_desc' %} ▼{% endif %}</option>
                                <option value="category-asc"
                                    {% if current_sorting == 'category_asc' %}selected{% endif %}>Category: A to Z
                                    {% if current_sorting == 'category_asc' %}▲{% endif %}
                                </option>
                                <option value="category-desc"
                                    {% if current_sorting == 'category_desc' %}selected{% endif %}>Category: Z to A
                                    {% if current_sorting == 'category_desc' %}▼{% endif %}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rows of products -->
            <div class="row mt-1 mb-2">
                {% if products %}
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <!-- Individual Product card -->
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.slug %}" class="d-block text-center">
                            <img loading="lazy" class="card-img-top img-fluid w-75 mx-auto" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.slug %}" class="d-block text-center">
                            <img loading="lazy" class="card-img-top img-fluid w-75 mx-auto" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }} (image coming soon)">
                        </a>
                        {% endif %}
                        <div class="mx-auto w-75">
                            <div class="card-body pb-0">
                                <p class="mb-0"><strong><small>{{ product.name }}</small></strong></p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        {% if product.lowest_price_value %}
                                        From £{{ product.lowest_price_value|floatformat:2 }}
                                        {% elif product.lowest_price %}
                                        From £{{ product.lowest_price|floatformat:2 }}
                                        {% else %}
                                        Price coming soon
                                        {% endif %}
                                        {% if product.rating_count %}
                                        <div class="small text-muted">
                                            <i class="fas fa-star nav-icon text-warning"></i>
                                             {{ product.rating_avg|floatformat:1 }} ({{ product.rating_count }})
                                        </div>
                                        {% endif %}
                                        {% if product.category %}
                                        <p class="small mb-0">
                                            <a href="{% url 'products' %}?category={{ product.category.slug }}"
                                                class="text-muted">
                                                <i class="fas fa-tag mr-1 nav-icon"></i>{{ product.category.slug }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Horizontal rules at breakpoints -->
                {% if forloop.counter|divisibleby:"1" %}
                <div class="col-12 d-sm-none mb-2">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:"2" %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-2">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:"3" %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-2">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:"4" %}
                <div class="col-12 d-none d-xl-block mb-2">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}

                {% else %}
                <div class="col text-center mt-5">
                    <h3 class="fw-bold">0 products found</h3>

                    {% if search_term %}
                    <p class="text-muted">No results for: <strong>"{{ search_term }}"</strong></p>
                    {% endif %}
                </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $("#sort-selector").change(function () {
        let selectedVal = $(this).val();
        let currentURL = new URL(window.location);

        if (selectedVal !== "reset") {
            let [sort, direction] = selectedVal.split("-");
            currentURL.searchParams.set("sort", sort);
            currentURL.searchParams.set("direction", direction);
        } else {
            currentURL.searchParams.delete("sort");
            currentURL.searchParams.delete("direction");
        }

        window.location.replace(currentURL);
    });
</script>
{% endblock %}