{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <a href="{% url 'products' %}" class="keep-shopping-btn ms-2 mt-2">
            <span class="icon"><i class="fa fa-chevron-left"></i></span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 text-center text-lg-start">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid w-75" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid w-75" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5 text-start">
                <h1 class="text-md-start text-center mb-0">{{ product.name }}</h1>
                {% if product.category %}
                <p class="small mb-1 text-md-end text-center">
                    <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                        <i class="fas fa-tag mr-1 nav-icon"></i>{{ product.category.name }}
                    </a>
                </p>
                {% endif %}
                <h6 class="text-18 font-semibold pb-1 text-md-start text-center"> GMO FREE | VEGAN | SOURCE OF FIBER
                </h6>
                <!-- Size and quantity cards -->
                <div class="my-1">
                    <div class="row g-3 justify-content-center">
                        {% for pq in product.quantities.all %}
                        <div class="col-auto">
                            {% if pq.stock > 0 %}
                            <div class="size-card selectable d-block text-center py-3 fw-bold" data-pq="{{ pq.id }}">
                                <span>{{ pq.quantity.name }}</span><br>
                                <span>£{{ pq.price }}</span>
                            </div>
                            {% else %}
                            <div class="size-card disabled-card d-block text-center py-3">
                                <span class="fw-bold">{{ pq.quantity.name }}</span><br>
                                <span class="text-danger fw-bold">Out of stock</span>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- description -->
                <p class="product-description my-4">
                    {{ product.description }}
                </p>
                <!-- add to basket -->
                <!-- Basket quantity selector -->
                <form action="{% url 'add_to_basket' item_id=product.id %}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-row d-flex align-items-center">
                        <!-- Quantity -->
                        <div class="col-6">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <input type="number" class="form-control qty_input" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}">
                            </div>
                        </div>
                        <!-- Add to Basket -->
                        <div class="col-6 d-flex justify-content-end">
                            <button type="submit" class="add-to-basket-btn selectable text-center py-3 fw-bold text-uppercase">
                                Add to <br>Basket <i class="fa fa-shopping-basket"></i>
                            </button>
                        </div>
                        <!-- Selected ProductQuantity id -->
                        <input type="hidden" name="product_quantity_id" id="product-quantity-id">
                        <!-- Redirect to product page -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>

                <!-- dropdown info points -->
                <div class="mt-4 me-4 me-lg-0 text-end">
                    <!-- Ingredients -->
                    <p>
                        <a href="#ingredientsCollapse" class="dropdown-toggle-section" data-bs-toggle="collapse"
                            role="button">
                            Ingredients <i class="fa-solid fa-chevron-down chevron-icon"></i>
                        </a>
                    </p>
                    <div class="collapse" id="ingredientsCollapse">
                        <div>{{ product.ingredients|linebreaks }}</div>
                    </div>
                    <!-- Nutritional info -->
                    <p>
                        <a class="dropdown-toggle-section" data-bs-toggle="collapse" href="#nutritionCollapse"
                            role="button">
                            Nutritional Info <i class="fa-solid fa-chevron-down chevron-icon"></i>
                        </a>
                    </p>
                    <div class="collapse" id="nutritionCollapse">
                        <div>
                            {% if product.nutrition_labels.all %}
                            <table id="nutrition-table">
                                <thead>
                                    <tr>
                                        <th>Typical Values</th>
                                        <th>Per 100g</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for label in product.nutrition_labels.all %}
                                    <tr>
                                        <td>{{ label.metric.name }}</td>
                                        <td class="text-end">{{ label.amount_per_100g }} {{ label.metric.unit }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>No nutritional information available.</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Storage instructions -->
                    <p>
                        <a class="dropdown-toggle-section" data-bs-toggle="collapse" href="#storageCollapse"
                            role="button">
                            Storage Instructions <i class="fa-solid fa-chevron-down chevron-icon"></i>
                        </a>
                    </p>
                    <div class="collapse" id="storageCollapse">
                        <div>{{ product.storage_instructions|linebreaks }}</div>
                    </div>

                    <!-- Country of origin -->
                    <p>
                        <a class="dropdown-toggle-section" data-bs-toggle="collapse" href="#originCollapse"
                            role="button">
                            Country of Origin <i class="fa-solid fa-chevron-down chevron-icon"></i>
                        </a>
                    </p>
                    <div class="collapse" id="originCollapse">
                        <div>{{ product.country_of_origin|linebreaks }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}